body {
  color: white !important;
  background-color: #1a1a1d !important;
}

.App {
  margin: 2em;
}

.blog_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog {
  display: flex;
  flex-direction: column;
  border-bottom: 2px gray solid;
}

.blog_buttons_container {
  margin-left: auto;
  margin-bottom: 2em;
}

.input_button {
  background-color: transparent;
  border: none;
  color: rgb(0, 162, 255);
  margin: 4px 2px;
  text-decoration: underline;
  cursor: pointer;
}

.input_button.delete {
  color: red;
}

.pagination_control {
  display: flex;
}

.mutate_blog_form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input[type="text"] {
  width: 100%;
  border: 1px solid #c3073f;
  padding: 8px;
  border-radius: 5px;
  outline: transparent;
}

button {
  background: #c3073f;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 1rem;
  border: 0;
  border-radius: 10px;
}

.input_wrapper {
  width: 100%;
}

.input_length {
  color: #6a6a6e;
  margin-bottom: 0.5rem;
}
